@import "fonts";

// themes
$theme-original: #EEEEEE, #444, #B2B2B2;

//fonts
$font-garamond: "garamond", serif;

@mixin color-scheme($primary, $secondary, $tertiary) {
    background-color: $primary;
    color: $secondary;
    caret-color: $secondary;
    ::placeholder {
        color: $tertiary
    }
}

@mixin font-scheme($font: "Georgia", $family: Times, $generic: serif) {
    font-family: $font, $family, $generic;
    font-weight: 400;
    font-size: 2rem;
}

body {
    @include color-scheme($theme-original ...);

    margin-right: 10%;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

input {
    @include color-scheme($theme-original ...);
    @include font-scheme($font-garamond ...);

    outline: none;
    border: none;
    width: 100%;
}

